body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	border: 0 none;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	overflow: hidden;
}

h4 {
	margin:0 0 10px 0;
	font-size: 14px;
	color: #666;
}

/********************************HEADER*********************************************/
#header {
    height: 80px;
	background-color: #fff;
}
#header-content {
	float: left;
    padding: 0px;
}
#logo {
    float: left;
    height: 60px;
    width: 60px;
	margin: 10px;
	padding: 0;
}
#logo h1 {
    color: #ED145B;
    float: left;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 4px 0 0;
}
.other {
    color: #666666;
    font-style: normal;
    font-weight: 300;
}
#header-content-right {
    color: #333333;
    float: right;
    text-align: right;
}
#menu-main {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
	padding: 0;
    overflow: hidden;
}
#menu-main li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
	border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    display: inline;
    float: left;
    height: 60px;
	padding: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
#menu-main li a {
    display: block;
    padding: 9px 11px;
	text-decoration: none;
	outline: 0;
}
#menu-main li a strong {
    color: #9fc52f !important;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
	margin-bottom: 4px;
}
#menu-main li a span {
    color: #B2B2B2 !important;
    font-size: 14px;
}
#menu-main li a:hover strong {
    color: #527f14 !important;
}
#menu-main li a:hover span {
    color: #333333 !important;
}
#menu-main li#menu-main-fund {
    margin-left: -1px;
}
#menu-main li.selected {
    border-bottom: 1px solid #FFFFFF;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    z-index: 1;
}
#menu-main li.selected a {
    background: none repeat scroll 0 0 #FFFFFF;
}
#nav-arrow {
	height: 10px;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	z-index: 2;
	background: transparent url(../images/navarrow.png) no-repeat -1000em top;
}
.qtip-content {
	margin:0;
	padding:0;
}
.qtip-form-wrapper {
	padding: 10px;
	font-size: 12px;
}
#search-jobs-form {
	float: left;
}
.qtip-link {
	float: left;
	cursor: pointer;
	cursor: hand;
	margin: 10px 0;
	padding: 6px 10px 6px 10px;
	text-align: center;
	color: #fff;	
	background-color: #37c1f0;
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
}
/********************************FOOTER*********************************************/
#credits {
    background-color: #333333;
    bottom: 0;
    height: 36px;
    position: absolute;
    right: 0;
    width: 100%;
}
#social {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    width: 180px;
}
#credits-inner {
    float: right;
    padding: 7px;
    text-align: right;
    width: 430px;
}
#credits-inner a {
    color: #CCCCCC;
    font-size: 11px;
	text-decoration: none;
}
#credits-inner a:hover {
    color: #DEDEDE;
}
/********************************MAIN*********************************************/
#main {
    left: 0;
    position: absolute;
    right: 0;
    top: 80px;			/* height of header */
	bottom: 36px;		/* height of footer */
	z-index: -100;
}
#map-canvas {
}
/*************************FAILURES AND NOT BEING USED STUFF BELOW***************************
/*
#btn-add {
    background: url("../img/add-circle.png") no-repeat scroll 0 0 #333333;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: "museo-sans",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding: 5px 12px 5px 30px;
    text-decoration: none;
}
#btn-add:hover {
    background-color: #666666;
}
*/
/********************************SCROLLY CONTAINER*********************************************/
/*
.scrolly-tab {
	// rotate 90 deg
	//-webkit-transform: rotate(-90deg);
	//-moz-transform: rotate(-90deg);
	//-o-transform: rotate(-90deg);
	//-ms-transform: rotate(-90deg);
	//transform: rotate(-90deg);
	
	
	float: right;
	color: #333333;
    font-size: 18px;
    font-style: normal;
    margin: 0 0 10px 0;
    padding: 10px;
	background-color:#fff;
	text-align: center;
	border-radius: 5px 0px 0px 5px;
	height: 140px;
	width: 25px;
}

#search-job-scrolly-tab {
	position: absolute;
    right: 0;
    top: 90px;			
	color: #333333;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
	background-color:#fff;
	text-align: center;
	border-radius: 5px 0px 0px 5px;
	height: 140px;
	width: 25px;
}

#search-job-scrolly {
	position: absolute;
    top: 90px;
	bottom: 56px;
	width: 480px;
	right: -480px;
    margin: 0;
    padding: 0;
	background-color:#fff;
	border-radius: 0px 0px 0px 5px;
}

#build-resume-scrolly-tab {
	top: 260px;	
	position: absolute;
    right: 0;		
	color: #333333;
    font-size: 18px;
    font-style: normal;
    margin: 0 0 10px 0;
    padding: 10px;
	background-color:#fff;
	text-align: center;
	border-radius: 5px 0px 0px 5px;
	height: 140px;
	width: 25px;
}

#build-resume-scrolly {
	position: absolute;
    top: 90px;	
	bottom: 56px;
	width: 480px;
	right: -480px;
    margin: 0;
    padding: 0;
	background-color:#fff;
	border-radius: 5px 0px 0px 5px;
}

.scrolly {
	position: absolute;
    top: 90px;		
	bottom: 56px;
	width: 480px;
	right: 480px;
    margin: 0;
    padding: 0;
	background-color:#fff;
}

.scrolly-body {
	float: right;
	width: 400px;
	margin: 0;
	padding: 30px 40px;
	color: #333333;
    font-size: 14px;
    font-style: normal;
}

.scrolly-body h2 {
	font-size: 16px;
    font-weight: bold;
	margin: 0 0 20px 0;
}
*/
