<div id="main" role="main">
	<div id="main-content-wrapper">
		<div id="main-content">

			<%= render :partial => 'sessions/new.html.erb' %>

			<%= render :partial => 'users/new.html.erb' %>

		</div>
	</div>
</div>
