<div class="qtip-form-wrapper">
	<h4>Log In</h4>
	<div id="search-jobs-form">
	Simple username/email and password login with forgot password link 
	</div>
	<%= link_to "Log In", "#", :class => "qtip-link" %>
</div>