<div class="qtip-form-wrapper">
	<h4>Job Seach Options</h4>
	<div id="search-jobs-form">
	Filter options presented as check boxes and radio buttons will include database selection, listing type, job area (if job chosen under listing type).
	</div>
	<%= link_to "Search Jobs", "#", :class => "qtip-link" %>
</div>