<div id="main" role="main">
	
	<div id="map-canvas" style="background-color: rgb(229, 227, 223); overflow: hidden; width: 640px; height: 480px;">
		<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
			
			<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
				<!-- mappy stuff -->
			</div>
			
			<!-- google logo bottom left -->
			<div style="margin: 2px 5px 2px 2px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
				<a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" href="http://maps.google.com/maps?ll=40.673213,-73.93928&z=12&t=m&hl=en-US" title="Click to see this area on Google Maps">
					<div style="width: 62px; height: 24px; cursor: pointer;">
						<img style="position: absolute; left: 0px; top: 0px; width: 62px; height: 24px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="http://maps.gstatic.com/mapfiles/google_white.png" draggable="false">
					</div>
				</a>
			</div>
			
			<!-- googlemap copyright and terms of use bottom right -->
			<div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 85px; bottom: 0px;">
				<div style="height: 19px; -moz-user-select: none; line-height: 19px; padding-right: 2px; padding-left: 50px; background: -moz-linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px) repeat scroll 0% 0% transparent; font-family: Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
					<a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer; display: none;">Map Data</a>
					<span>Map data ©2013 Google</span>
					<span> - </span>
					<a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer;" href="http://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank">Terms of Use</a>
				</div>
			</div>
			
			<!-- report googlemap error bottom right -->
			<div class="gmnoprint" style="font-size: 10px; height: 18px; background-color: rgb(245, 245, 245); border: 1px solid rgb(220, 220, 220); line-height: 19px; position: absolute; right: 0px; bottom: 0px;">
				<a target="_new" title="Report errors in the road map or imagery to Google" style="font-family: Arial,sans-serif; font-size: 85%; font-weight: bold; bottom: 1px; padding: 1px 3px 1px 4px; color: rgb(68, 68, 68); text-decoration: none; position: relative;" href="http://maps.google.com/maps?ll=40.673213,-73.93928&z=12&t=m&hl=en-US&skstate=action:mps_dialog$apiref:1&output=classic">Report a map error</a>
			</div>
			
		</div>
	</div>
	
	<div id="sidebar">
		
		<%= render :partial => "pages/search_form" %>
		
	</div>
</div>