<div id="credits">
	<div id="credits-inner">
		<a target="_blank" href="#">Terms of Use</a>
		<a target="_blank" href="#">Privacy Policy</a>
		<a target="_blank" href="http://patrickforce.com">
			PFAD
			<!-- <img width="75" height="16" title="bod.ge" alt="bod.ge" src="img/bodge-off.png"> -->
		</a>
	</div>
	<div id="social">
		<!-- <iframe class="twitter-share-button twitter-count-none" scrolling="no" frameborder="0" allowtransparency="true" src="" style="width: 55px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
		<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" style="vertical-align:top;zoom:1;*display:inline" data-show-faces="false" data-width="100" data-layout="button_count" data-send="false" data-href="http://mappedinny.com" fb-xfbml-state="rendered"></div> -->
	</div>
</div>
