<ul class="nav nav-pills" style="float:left;width:800px;padding:10px 0px;background-color:#eeeeee;">
	<li id="contact-info-nav">
		<a href="/contact" style="width:120px;margin:0px 20px 0px 0px;text-align:center;">Contact Info</a>
	</li>
	<li id="education-nav">
		<a href="/educations" style="width:120px;margin:0px 20px 0px 0px;text-align:center;">Education</a>
	</li>
	<li id="experience-nav">
		<a href="/experience" style="width:120px;margin:0px 20px 0px 0px;text-align:center;">Work Experience</a>
	</li>
	<li id="skills-nav">
		<a href="/skill" style="width:120px;margin:0px 20px 0px 0px;text-align:center;">Skills</a>
	</li>
	<li id="preview-nav">
		<a href="#" style="width:120px;margin:0;text-align:center;">Preview</a>
	</li>
</ul>
